body {
    font: 500 23px/1.5 Arial;
    background-repeat: round;    
    padding: auto;
    color: lightslategray;
}

h1, h2, h3 {
    font: bold 25px/1.2 'Courier New';
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

img {
    width: 20%;
}