html {
    scroll-behavior: smooth;
}

body {
    font: 600 16px/1.5 Arial;
    line-height: 1.5;
    background: linear-gradient(to left, #69779b, black 70%);
    background-repeat: round;
    color: #a0c5c9;
    margin: 0;
    height: 100%;
}

header {
    margin-top: -50px;
    background: linear-gradient(to left, #69779b, black 70%);
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 5px outset #f0ece2;
}

nav {
    margin-left: 59px;
}

section {
    padding-bottom: 150px;
}

main,
footer {
    margin: 20px 100px 0 100px;
    position: relative;
    top: 250px;
}

footer {
    margin-bottom: 20px;
    padding-bottom: 50px;
}

h1,
h2,
h3,
h4 {
    font: bold 16px/1.2 'Courier New';
    line-height: 1.2;
}

h1 {
    font-size: 5em;
    margin: 50px 100px 0 100px;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
    margin-top: 0;
}

p,
li,
table {
    font-size: 2em;
}

table,
td,
th {
    border: 1px solid;
}

thead {
    font-size: 1.2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 5px;
}

img {
    margin: 1%;
    width: 30%;
}

a {
    color: #a0c5c9;
    font-size: 1.4em;
    text-decoration: none;
}

.navigation {
    display: inline;
    margin: 0 50px 0 0;
    text-decoration: underline dotted;
}

.skill {
    margin-left: 2%;
    width: 30%;
    float: left;
    height: fit-content;
}

.film_name {
    position: relative;
}

.film_year {
    position: absolute;
    right: 5%;
}

#about_me,
#hard,
#photos,
#movies,
#soft {
    scroll-margin-top: 250px;
    border-bottom: 5px solid #f0ece2;
}

#about_me {
    height: 475px;
}

#soft {
    height: 525px;
}

#myself_pic {
    width: 20%;
    float: left;
}