body {
    font: 500 16px/1.5 Arial;
    line-height: 1.5;
    background: linear-gradient(to left, #69779b, black 70%);
    background-repeat: round;
    color: #a0c5c9;
    padding: 10px;
    margin: 0;
    height: 100%;
}

h1,
h2,
h3 {
    font: bold 16px/1.2 'Courier New';
    line-height: 1.2;
}

h1 {
    font-size: 5em;
    margin-top: 0;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

p,
li,
table {
    font-size: 2em;
}

span {
    font-size: 1.5em;
}

a {
    color: #a0c5c9;
    font-size: 1.4em;
    text-decoration: underline dotted;    
}

table, td, th {
    border: 1px solid;
}

table {
    width: 70%;
    border-collapse: collapse;    
    text-align: center;
    margin: 5px;
}

img {
    width: 20%;
}

#myself {
    height: 200px;
    width: 200px;
    float: left;
}

header {
    margin-top: -10px;
    background: linear-gradient(to left, #69779b, black 70%);
    position: fixed;
    z-index: 2;
    width: 99%;
    border-bottom: 5px outset #f0ece2;
}

section {
    margin-bottom: 150px;
}

main,
footer {
    position: relative;
    top: 250px;
}

.navigation {
    display: inline;
    margin: 0 50px 0 0;
}

#about_me,
#skills,
#photos,
#movies {
    scroll-margin-top: 250px;
    border-bottom: 5px solid #f0ece2; 
}

#about_me {
    height: 310px;
}