body {
    font: 600 16px/1.5 Arial;
}

span {
    font-size: 1.4rem;
}

h1,
h2,
h3,
h4 {
    font: bold 16px/1.2 'Courier New';
    line-height: 1.2;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4, thead {
    font-size: 2.5rem;
}

p,
li,
table {
    font-size: 2rem;
}

@media (max-width: 480px) {
    h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 4rem;
        line-height: 1.1;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    thead, h4 {
        font-size: 2rem;
    }

    p, li, table {
        font-size: 1.5rem;
        line-height: 1.1;
    }

    span {
        font-size: 1.1rem;
    }
}